* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff5de;
}

h3 {
  text-align: center;
  font-family: 'Rajdhani', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 4rem;
  color: #5d4124;
}

h3 span {
  border: solid 0.1rem #5d4124;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 18.75rem;
  width: 16.875rem;
  margin-top: -9.375rem;
  margin-left: -8.4375rem;
}

.outer-hexagon {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #5d4124;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.inner-hexagon {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  background-color: #5d4124;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.inner-hexagon .row-one {
  position: absolute;
  height: 20%;
  width: 100%;
  background-color: #fde0a9;
}

.inner-hexagon .row-two {
  position: absolute;
  top: 20%;
  height: 20%;
  width: 100%;
  background-color: #efc034;
}

.inner-hexagon .row-three {
  position: absolute;
  top: 40%;
  height: 20%;
  width: 100%;
  background-color: #e97e32;
}

.inner-hexagon .row-four {
  position: absolute;
  top: 60%;
  height: 20%;
  width: 100%;
  background-color: #e04b30;
}

.details .big-circle {
  position: absolute;
  top: 30%;
  left: -15%;
  height: 50%;
  width: 55%;
  background-color: #e04b30;
  border-radius: 50%;
}

.details .small-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20%;
  width: 25%;
  background-color: #e04b30;
  border-radius: 50%;
}

.details .hut-circle {
  position: absolute;
  top: 70%;
  left: 10%;
  height: 20%;
  width: 25%;
  background-color: #5d4124;
  border-radius: 50%;
}

.details .hut-entrance {
  position: absolute;
  top: 77%;
  left: 33%;
  height: 5%;
  width: 5%;
  background-color: #5d4124;
}